/* Scss Document */
body {
  font-family: "Roboto", sans-serif !important;
  background: #f2f5fa;
  overflow-x: hidden !important; }

a {
  text-decoration: none;
  color: #02b6a3; }

a:focus, a:hover {
  text-decoration: none;
  color: #02b6a3; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block;
  color: #fff; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #02b6a3;
  border-radius: 100%;
  background: none; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #02b6a3;
  position: absolute;
  top: 6px;
  left: 7px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.heading {
  font-size: 48px;
  font-weight: bold;
  color: #213262; }

.txt16 {
  font-size: 16px;
  line-height: 24px;
  color: #213262;
  font-weight: 300; }

.darkbluebg {
  background: #213262; }

.greybg {
  background: #f2f5fa; }

.whitebg {
  background: #fff; }

.whitetxt {
  color: #fff; }

.lightbluetxt {
  color: #6779a7; }

.lightbluetxt1 {
  color: #899aca; }

.darkbluetxt {
  color: #6779a7; }

.navbar {
  position: absolute;
  top: 0;
  z-index: 999930;
  width: 100%;
  padding: 0; }
  .navbar .container {
    padding: 20px 0 !important; }
  .navbar .nav-link {
    color: #6779a7;
    padding: 0 5px; }
    .navbar .nav-link i {
      color: #02b6a3; }
    .navbar .nav-link:hover {
      color: #02b6a3; }
  .navbar .nav .nav-item.dropdown {
    margin-left: 10px; }
  .navbar .dropdown-toggle::after {
    color: #02b6a3; }
  .navbar .dropdown-menu {
    left: auto;
    right: 0; }

.pointer {
  cursor: pointer; }

.fullpagemenu {
  background: #213262;
  min-height: 100vh;
  position: absolute;
  z-index: 999928;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(0, -100%);
  transition: 1s ease-in-out;
  opacity: 0 !important; }
  .fullpagemenu.in {
    display: block !important;
    transform: translate(0, 0%);
    opacity: 1 !important;
    z-index: 999932; }
  .fullpagemenu .closelink {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 999; }
  .fullpagemenu ul {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0; }
    .fullpagemenu ul li {
      float: left;
      width: 20%;
      position: relative;
      list-style: none;
      min-height: 100vh; }
      .fullpagemenu ul li:hover {
        background: #2b3c69;
        cursor: pointer; }
      .fullpagemenu ul li .cardinfo {
        color: #fff;
        word-wrap: break-word;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .fullpagemenu ul li .cardinfo img {
          margin: 0 auto 30px auto;
          display: block; }
        .fullpagemenu ul li .cardinfo h4 {
          color: #fff;
          font-size: 26px; }
        .fullpagemenu ul li .cardinfo p {
          font-size: 12px;
          color: #6779a7; }

button[type="button"], button[type="reset"], button[type="submit"] {
  cursor: pointer; }

@-moz-keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px); }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
@-webkit-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
@keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999930;
  width: 100%;
  background: #213262; }

.bannerslider {
  background: #213262; }

#homeslider {
  z-index: 999929; }

#homeslider .carousel-control-prev, #homeslider .carousel-control-next {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #02b6a3;
  border-radius: 50%;
  background: #02b6a3;
  color: #fff;
  text-align: center;
  opacity: 1;
  top: 50%;
  right: 0px; }

#homeslider .carousel-control-prev .fa, #homeslider .carousel-control-next .fa {
  color: #fff;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 45px; }

#homeslider .carousel-control-prev {
  right: 0px !important;
  left: auto;
  margin-top: -60px; }

.learnmore {
  position: absolute;
  z-index: 99;
  left: 0;
  width: 230px;
  bottom: -198px;
  background: #fff;
  font-family: "Roboto Condensed", sans-serif; }
  .learnmore h3 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0 !important;
    color: #213262;
    text-align: right;
    padding: 25px 100px 25px 0; }
    .learnmore h3 a {
      background: #f2f5fa;
      color: #02b6a3;
      position: absolute;
      right: 0;
      top: 0;
      padding: 30px 35px;
      cursor: pointer;
      font-weight: 700; }
      .learnmore h3 a i {
        color: #02b6a3;
        font-size: 20px; }
  .learnmore ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 20px 115px 40px 0px; }
    .learnmore ul li a {
      color: #213262 !important;
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 35px;
      cursor: pointer; }
    .learnmore ul li a:before {
      content: '\f105';
      color: #fff;
      font-family: FontAwesome;
      padding-right: 10px;
      transform: translate(-10px, 10px); }
    .learnmore ul li:hover a:before {
      color: #02b6a3 !important;
      transition: .3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -webkit-transition: .3s ease-in-out; }
    .learnmore ul li:hover, .learnmore ul li:hover a {
      color: #02b6a3 !important;
      transform: translate(10px, 0);
      transition: .3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -webkit-transition: .3s ease-in-out; }

.minwidth100 {
  min-width: 100px;
  display: block; }

.iteminfo {
  color: #fff; }
  .iteminfo h3 {
    display: block;
    text-align: center; }
  .iteminfo img {
    display: block;
    text-align: center;
    margin: 0 auto; }
  .iteminfo p {
    position: absolute;
    bottom: 80px;
    width: 250px; }

.topnav a {
  color: #6779a7;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }
  .topnav a:hover {
    color: #02b6a3; }
  .topnav a .fa {
    color: #02b6a3; }

.followus {
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 15px; }
  .followus ul {
    margin: 0;
    padding: 0;
    display: block; }
    .followus ul li {
      display: inline-block;
      font-weight: 700;
      font-size: 12px; }
      .followus ul li a {
        color: #b2c9ed !important;
        font-size: 12px;
        font-weight: 300; }
        .followus ul li a span {
          padding: 0 5px; }
      .followus ul li:hover a {
        color: #02b6a3 !important; }
      .followus ul li:hover a span {
        color: #fff; }

.utilities-tabs {
  color: #fff; }
  .utilities-tabs .pagetitle {
    font-size: 70px;
    padding: 20px 15px; }
  .utilities-tabs .nav-tabs .nav-link.active, .utilities-tabs .nav-tabs .nav-item.show .nav-link {
    background: none;
    color: #fff; }
  .utilities-tabs .nav {
    border-bottom: 0;
    display: block;
    margin-bottom: 30px; }
    .utilities-tabs .nav li {
      display: inline-block;
      margin: 0 -2px; }
      .utilities-tabs .nav li a {
        color: #fff;
        border: 0;
        text-align: center;
        border-bottom: 4px solid #6779a7;
        padding: 10px 30px; }
        .utilities-tabs .nav li a.active {
          border-bottom: 4px solid #02b6a3 !important; }
        .utilities-tabs .nav li a span, .utilities-tabs .nav li a img {
          display: block;
          text-align: center;
          margin: 0 auto 10px auto; }
        .utilities-tabs .nav li a span {
          margin: 10px 0 0 0;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 18px;
          font-weight: 700; }
  .utilities-tabs .tab-content {
    position: relative;
    clear: both; }
  .utilities-tabs .details {
    position: absolute;
    font-size: 16px;
    z-index: 99;
    color: #b2c9ed;
    top: 0%;
    transform: translateY(-35%);
    right: auto;
    left: 0px;
    max-width: 150px;
    text-align: left; }

.indecatorwrapper {
  position: absolute;
  right: auto;
  top: 55%;
  transform: translateY(-55%);
  z-index: 99;
  left: 2%; }

.diveder {
  color: #fff;
  position: absolute;
  top: -77px;
  left: -10px;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  font-size: 12px; }

.carousel-indicators {
  left: 65px; }

.carousel-indicators:before {
  content: '03';
  color: #fff;
  position: absolute;
  left: -80px;
  right: auto;
  bottom: 100%;
  font-size: 18x;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  padding: 15px 0;
  font-size: 12px; }

.carousel-indicators:after {
  content: '';
  position: absolute;
  left: -135px;
  right: 0%;
  width: 1px;
  top: -110px;
  border-bottom: 1px solid #fff;
  min-width: 120px;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg); }

.carousel-indicators {
  margin: 0;
  margin: 0;
  padding: 0;
  max-width: 50px; }

.carousel-indicators li {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  background: none;
  opacity: 0;
  width: 100% !important;
  height: 25px !important;
  background-color: none;
  color: #fff;
  text-indent: 0 !important;
  font-size: 12px;
  text-align: center;
  vertical-align: middle; }

.carousel-indicators li.active {
  opacity: 1;
  background: none;
  color: #02b6a3;
  left: -72px;
  top: 0;
  position: absolute; }

.about {
  position: relative;
  padding: 70px 15px 60px 15px;
  z-index: 99; }

.carporate {
  position: relative;
  overflow: hidden; }
  .carporate .col-md-6 {
    padding: 50px; }
  .carporate .content {
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0 70px 0 0;
    transform: translate(0%, -50%); }
  .carporate .greybg:after {
    background: #f2f5fa;
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 99;
    width: 100%;
    height: 100%; }

.consumer_wrapper {
  position: relative; }
  .consumer_wrapper .title-wrap {
    left: 50%;
    top: -85px; }
  .consumer_wrapper .consumer {
    position: relative;
    overflow: hidden; }
    .consumer_wrapper .consumer .col-md-6 {
      padding: 100px 50px; }
    .consumer_wrapper .consumer .content {
      position: absolute;
      top: 50%;
      left: 0%;
      padding: 0 0 0 70px;
      transform: translate(0%, -50%); }
    .consumer_wrapper .consumer .whitebg:after {
      background: #fff;
      content: '';
      position: absolute;
      top: 0;
      right: -100%;
      z-index: 99;
      width: 100%;
      height: 100%; }

.contact .title-wrap {
  position: relative;
  left: 40%;
  background: #fff;
  padding-left: 50px;
  top: 0;
  width: 270px; }

#homeslider .carousel-inner {
  width: 100%;
  height: 100vh; }

.franchisees {
  position: relative;
  margin: 200px 0 100px 15px; }

.carousel {
  position: relative;
  top: 0;
  left: 0; }

.carousel-item-left {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: translate3d(-50%, -55%, 0) !important;
  -moz-transform: translate3d(-50%, -55%, 0) !important;
  -webkit-transform: translate3d(-50%, -55%, 0) !important; }

.carousel-item {
  background: #213262;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 55%;
  left: 50%;
  -moz-transform: translate3d(-50%, -55%, 0) !important;
  -webkit-transform: translate3d(-50%, -55%, 0) !important; }

.utilities-tabs {
  transition: opacity 2s ease-in-out; }

.carousel-item.active {
  opacity: 1; }

.posrel {
  position: relative; }

.btn {
  border-radius: 0;
  border-width: 2px;
  font-size: 16px;
  padding: 13px 20px; }

.btn-outline-primary {
  color: #02b6a3;
  border-color: #02b6a3; }

.btn-outline-primary:hover {
  background: #02b6a3;
  border-color: #02b6a3;
  cursor: pointer;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease; }

.btn-outline-warning {
  color: #ec761f;
  background-color: transparent;
  background-image: none;
  border-color: #ec761f; }

.btn-outline-warning:hover, .btn-outline-warning:focus {
  color: #fff;
  border-color: #ec761f;
  background: #ec761f; }

.btn-outline-warning {
  box-shadow: none !important; }

.padd100_0 {
  padding: 100px 0; }

.padd25_0 {
  padding: 25px 0; }

.title-wrap {
  position: absolute;
  top: -70px;
  height: 70px;
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.map iframe {
  width: 100%; }

.title-no {
  font-size: .875rem;
  color: #02b6a3;
  letter-spacing: -.04em; }

.title-line-wrap {
  position: relative;
  margin: 9px 20px 0;
  width: 66px;
  height: 1px;
  overflow: hidden; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.title-line, .title-line-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.title-line {
  background: #02b6a3;
  opacity: 1; }

.title-txt {
  font-size: .9375rem;
  color: #02b6a3;
  font-weight: 600;
  letter-spacing: -.04em; }

footer .nav {
  display: block;
  text-align: center;
  padding: 50px 0; }
  footer .nav li {
    display: inline; }
    footer .nav li a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      padding: 0 10px; }
      footer .nav li a:hover {
        color: #02b6a3; }
footer .allright {
  border-bottom: 1px solid #33436f;
  position: relative;
  margin: 50px 0; }
  footer .allright span {
    position: absolute;
    top: 50%;
    padding: 0 20px;
    background: #213262;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700; }

.sociallink > span {
  float: left;
  color: #fff; }

.sociallink ul {
  margin: 70px 0 0 0;
  display: block;
  text-align: center; }
  .sociallink ul li {
    display: inline-block;
    text-align: center; }
    .sociallink ul li a {
      color: #fff;
      padding: 0 5px; }
      .sociallink ul li a:hover {
        color: #02b6a3; }

footer {
  padding: 100px 0; }

@media (min-width: 1601px) {
  .learnmore {
    width: 350px; }

  footer .nav li a {
    font-size: 18px; }

  .container {
    max-width: 1600px !important; } }
@media (min-width: 1366px) {
  .container {
    max-width: 1300px; } }
@media (max-width: 1365px) {
  .utilities-tabs .details {
    width: 140px; }

  .utilities-tabs .pagetitle {
    font-size: 60px; } }
@media (max-width: 992px) {
  .consumer_wrapper .consumer .content {
    padding: 20px; }

  .carporate .content {
    padding: 15px; }

  .heading {
    font-size: 32px; }

  #homeslider .carousel-control-prev, #homeslider .carousel-control-next {
    top: 70%; }

  .fullpagemenu ul li {
    width: 33.3%;
    min-height: 50%; }

  .btn {
    padding: 13px 15px; }

  .learnmore {
    bottom: -149px; }
    .learnmore ul {
      padding: 5px 115px 5px 0px; } }
@media (max-width: 767px) {
  .navbar .nav-link {
    font-size: 12px; }

  .navbar {
    padding-left: 0;
    padding-right: 0; }

  .heading {
    font-size: 24px; }

  .consumer_wrapper .title-wrap {
    left: 30px; }

  .padd100_0 {
    padding: 30px 0; }

  .carousel-inner {
    height: 100%; }

  .carousel-item {
    position: inherit;
    top: auto;
    left: auto;
    transform: none !important; }

  .utilities-tabs {
    margin: 40px 0; }
    .utilities-tabs .pagetitle {
      font-size: 22px;
      padding: 40px 15px 0 15px; }
    .utilities-tabs .nav li a {
      padding: 10px; }
      .utilities-tabs .nav li a img {
        max-height: 30px; }
      .utilities-tabs .nav li a span {
        font-size: 14px;
        margin: 0; }

  .utilities-tabs .tab-content .container {
    padding: 0; }

  .fullpagemenu {
    min-height: inherit !important;
    height: 100% !important; }
    .fullpagemenu ul {
      transform: none;
      top: auto;
      left: auto;
      position: inherit; }
      .fullpagemenu ul li {
        width: 100%;
        min-height: inherit;
        padding: 30px 0;
        background: #213262; }
        .fullpagemenu ul li .cardinfo {
          position: inherit;
          top: auto;
          left: auto;
          transform: none; }
    .fullpagemenu .closelink {
      right: 10px;
      top: 5px; }

  .input--hoshi {
    margin: 0 !important;
    width: 100% !important; }

  .consumer_wrapper .consumer .content, .carporate .content {
    position: inherit;
    top: auto;
    left: auto;
    transform: none;
    padding: 0; }

  .carporate .col-md-6 {
    padding: 15px; }

  .consumer_wrapper .consumer .col-md-6 {
    padding: 15px; }

  .contact .title-wrap {
    left: 0;
    width: 100%; }

  footer {
    padding: 20px 0; }

  footer .allright span {
    left: 10%;
    transform: translate(-5%, -50%); }

  .btn + .btn {
    margin: 0 !important; }

  .btn {
    padding: 5px 10px; }

  footer .col-6, .franchisees .col-11, .about .col-9 {
    max-width: 90%;
    flex: none; } }

/*# sourceMappingURL=custom.css.map */










.bannerslider-inner img{width:100%;}
