@media(min-width:1601px){
.learnmore{width:350px;}
footer .nav li a{font-size:18px;}
.container{max-width:1600px!important}
}

@media(min-width:1366px){
.container{max-width:1300px;}
}

@media(max-width:1365px){
.utilities-tabs .details{width:140px;}
.utilities-tabs .pagetitle{font-size:$pad10*6;}
}




@media(max-width:992px){
.consumer_wrapper .consumer .content{padding:$pad10*2}
.carporate .content{padding:15px;}
.heading{ font-size:32px;}
#homeslider .carousel-control-prev, #homeslider .carousel-control-next{top:70%;}
.fullpagemenu ul li{ width:33.3%; min-height:50%;}
.btn{padding:13px 15px;}
.learnmore{bottom:-149px;
	ul{padding:5px 115px 5px 0px;}
	}

}

@media(max-width:767px){
.navbar .nav-link{font-size:12px;}
.navbar {padding-left:$zero; padding-right:$zero;}
.heading{font-size:$pad10*2+4}
.consumer_wrapper .title-wrap{ left:30px;}
.padd100_0{ padding:$pad10*3 0}
.carousel-inner{height:100%;;}
.carousel-item{position:inherit; top:auto; left:auto; transform:none!important}
.utilities-tabs{margin:40px 0;
.pagetitle{font-size:22px;padding:40px 15px 0 15px;}
.nav li{ 
  a{padding:$pad10;
	img{max-height:30px;}
	span{font-size:14px; margin:$zero;}
   }
  }
}
.utilities-tabs .tab-content .container{padding:0;}
.fullpagemenu{min-height:inherit!important; height:100%!important;
ul{transform:none; top:auto; left:auto; position:inherit;
li{ width:100%; min-height:inherit; padding:30px 0;background:$darkblue;
.cardinfo{ position:inherit; top:auto; left:auto; transform:none;}
}
}
.closelink{right:10px; top:5px;}
}
	

.input--hoshi{margin:$zero!important; width:100%!important;}
.consumer_wrapper .consumer .content,.carporate .content{ position:inherit; top:auto; left:auto;transform:none;padding:0;}
.carporate .col-md-6{padding:$pad10+5;}
.consumer_wrapper .consumer .col-md-6,{padding:15px;}
.contact .title-wrap{left:0; width:100%;}
footer{ padding:20px 0;}
footer .allright span{left:10%; transform:translate(-5%, -50%);}
.btn+.btn{ margin:$zero!important;}
.btn {
    padding: 5px 10px;
}
footer .col-6,.franchisees .col-11,.about .col-9 { max-width:90%; flex:none;}
}




