body { font-family: 'Roboto', sans-serif!important; background:$grey; overflow-x:hidden!important;}
a { text-decoration: none; color:$green;}
a:focus, a:hover { text-decoration: none; color:$green;}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position:$posrel;
    padding-left: 35px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color:$white;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:25px;
    height:25px;
    border: 2px solid $green;
    border-radius: 100%;
    background:none;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background:$green;
    position: absolute;
    top:6px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.heading {font-size:$font16*3; font-weight: bold; color:$darkblue;}
.txt16 {font-size:$font16; line-height: 24px; color:$darkblue; font-weight:300;}
.darkbluebg { background:$darkblue}
.greybg { background:$grey;}
.whitebg { background:$white;}
.whitetxt { color:$white;}
.lightbluetxt { color:$lightblue;}
.lightbluetxt1 { color:$lightblue2;}
.darkbluetxt { color:$lightblue;}
.navbar{position:$absu; top:$zero; z-index:999930; width:100%; padding:0;
.container{padding:20px 0!important}
.nav-link{color:$lightblue; padding:0 $pad10/2;
 i{color:$green;}
  &:hover{color:$green;}
}
.nav .nav-item.dropdown{ margin-left:$pad10;}
.dropdown-toggle::after{ color:$green;}
.dropdown-menu{left:auto; right:$zero;}
}

.pointer{cursor:pointer;}
.fullpagemenu{background:$darkblue; min-height:100vh; position:$absu;z-index:999928;  top:$zero; left:$zero; bottom:$zero; right:$zero;  transform: translate(0, -100%); transition:1s ease-in-out; opacity:0!important;
	&.in{display:$dp-b!important; transform: translate(0, 0%); opacity:1!important; z-index:999932; }
	.closelink{ position:$absu; top:30px; right:40px; z-index:999;}
	ul{width:100%;height:100vh; position:$absu; top:50%; left:50%; transform: translate(-50%,-50%); margin:$zero; padding:$zero;
		li{float:left; width:20%; position:$posrel; list-style:none; min-height:100vh;
			&:hover{background:#2b3c69; cursor:pointer;}
			.cardinfo {color:$white; word-wrap: break-word; position:$absu; top:50%; left:50%; transform: translate(-50%,-50%);
				img{margin:0 auto 30px auto; display:$dp-b;;}
				h4{color:$white; font-size:26px;}
				p{font-size:12px; color:$lightblue;}
			}
		
		}
	}
}

button[type="button"], button[type="reset"], button[type="submit"]{
cursor:pointer;
}

@-moz-keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
 40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
	
 60% {
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
 40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
	
 60% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
   0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
 40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
	
 60% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.sticky.is-sticky {
      position: fixed;
      left:$zero;
      right:$zero;
      top:$zero;
      z-index:999930;
      width: 100%;
	 background:$darkblue;
}

.bannerslider{background:$darkblue;}
#homeslider{z-index:999929;}
#homeslider .carousel-control-prev, #homeslider .carousel-control-next{ width:50px!important; height:50px!important; border:1px solid $green; border-radius:50%;background:$green; color:$white; text-align:$fc; opacity:1; top:50%; right:0px; }

#homeslider .carousel-control-prev .fa, #homeslider .carousel-control-next .fa{color:$white; font-size:30px; display:$dp-b; text-align:$fc; line-height:45px;}
#homeslider .carousel-control-prev{right:0px!important; left:auto; margin-top:- $pad10*6}
 

.learnmore{ position:$absu; z-index:99; left:$zero; width:230px; bottom:-198px; background:$white; font-family:$condensed;
h3{position:$posrel; font-size:$pad10*2; font-weight:700; margin-bottom:$zero!important; color:$darkblue; text-align:$fr; padding:$pad10*2+5 $pad10*10 $pad10*2+5 $zero;
a{background:$grey; color:$green; position:$absu; right:0; top:$zero; padding:$pad10*3 $pad10*3+5; cursor:pointer; font-weight:700;
	i{color:$green; font-size:20px;}
	}
}
ul{list-style:none; float:$fr; margin:$zero; padding:$pad10*2 $pad10*11+5 $pad10*4  0px;
li{
a{color:$darkblue!important; display:$dp-b; font-size:18px; font-weight:bold; line-height:35px; cursor:pointer;}	
}
li a:before{content:'\f105'; color:$white; font-family:FontAwesome; padding-right:10px; transform: translate(-10px, 10px);}
li:hover a:before{ color:$green!important; transition:.3s ease-in-out; -moz-transition:.3s ease-in-out ; -webkit-transition:.3s ease-in-out;}
	li:hover,li:hover a{color:$green!important; transform:translate(10px,0); transition:.3s ease-in-out; -moz-transition:.3s ease-in-out ; -webkit-transition:.3s ease-in-out;}
	}
}

.minwidth100{ min-width:100px; display:block;}
.iteminfo{
color:$white;
	h3{display:$dp-b; text-align:$fc;}
	img{display:$dp-b; text-align:$fc; margin:0 auto;}
	p{position:$absu; bottom:80px; width:250px;}
	
}


.topnav{
	a{color:$lightblue; font-family:$condensed; font-size:$pad10+6;
	&:hover{color:$green;}
	.fa{color:$green;}
	}
}

.followus{ color:$white; position:$absu; bottom:$pad10*2; right:$pad10+5;;
	ul{margin:$zero; padding:$zero; display:block;
		li{display:$dp-inbl; font-weight:700;font-size:12px;
			a{color:$lightblue1!important; font-size:12px; font-weight:300;
				span{padding:0 $pad10/2;}
			}
		&:hover a{color:$green!important;}
			&:hover a span{color:$white;}
		}
		
	}
}

.utilities-tabs {color:$white;
.pagetitle{font-size:70px; padding:20px 15px;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{ background:none;  color:$white;}
.nav{border-bottom:$zero;display:$dp-b; margin-bottom:$pad10*3;
li{display:$dp-inbl; margin:$zero -2px;
a{color:$white;border:$zero;text-align:$fc; border-bottom:4px solid $lightblue; padding:10px 30px;
&.active{border-bottom: 4px solid $green!important;}
span,img{display:$dp-b; text-align:$fc; margin:0 auto $pad10 auto;}
span{margin:$pad10 $zero $zero  $zero; font-family:$condensed; font-size:18px; font-weight:700;}
}  
}
}
.tab-content{position:$posrel; clear:both;}
.details{ position:absolute; font-size:16px; z-index: 99; color:$lightblue1; top:0%; transform:translateY(-35%);right:auto; left:0px; max-width:150px; text-align:$fl}
}
.indecatorwrapper{position:$absu; right:auto; top:55%; transform:translateY(-55%); z-index:99; left:2%}
.diveder{ color:$white;position:$absu; top:-77px; left:-10px;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);  font-size:12px;
}
.carousel-indicators{ left:65px;}
.carousel-indicators:before{content:'03'; color:$white; position:absolute; left:-80px; right:auto; bottom:100%; 
font-size:18x;-ms-transform: rotate(-90deg); /* IE 9 */
-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
transform: rotate(-90deg);
padding:15px 0; font-size:12px;}

.carousel-indicators:after{content:''; position: absolute; left:-135px; right:0%; width:1px; top:-110px; border-bottom:1px solid #fff; min-width:120px;
-ms-transform: rotate(-90deg); /* IE 9 */
-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
transform: rotate(-90deg);}
.carousel-indicators{ margin:$zero; margin:0;padding :0; max-width:50px; }
.carousel-indicators li {
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg); 
	background:none; opacity:0;
    width:100%!important;
    height: 25px!important;
    background-color: none;
	color:$white;
	text-indent:0!important; font-size:12px; text-align:$fc; vertical-align:middle;
}
.carousel-indicators li.active{ opacity:1; background:none; color:$green; left:-72px; top:0; position:absolute;}
.about{position:$posrel; padding:70px $pad10+5 $pad10*6 $pad10+5; z-index:99;}
.carporate { position:$posrel; overflow:hidden;
.col-md-6{ padding:50px;}
.content{ position:$absu; top:50%; left:0%; padding: 0 70px 0 0 ; transform:translate(0%,-50%);}
.greybg:after{background:$grey; content:''; position:$absu; top:$zero; right: -100%;
z-index: 99; width: 100%;height: 100%;}
}

.consumer_wrapper{ position:$posrel;
.title-wrap{left:50%; top:-$pad10*8-5;}
.consumer { position:$posrel; overflow:hidden;
.col-md-6{ padding:100px 50px;}
.content{ position:$absu; top:50%; left:0%;  padding: 0 0 0 70px; transform:translate(0%,-50%);}
.whitebg:after{background:$white; content:''; position:$absu; top:$zero; right: -100%;
z-index: 99; width: 100%;height: 100%;}
}
}
.contact .title-wrap{position:$posrel; left:40%; background:$white; padding-left:50px; top:$zero; width:270px;}
#homeslider .carousel-inner{ width:100%; height:100vh;}
.franchisees{position:$posrel; margin:$pad10*20 $zero $pad10*10 15px;}
.carousel {
  position: relative;
  top: 0;
  left: 0;
}
.carousel-item-left{opacity: 0; transition:opacity 1s ease-in-out;transform:translate3d(-50%, -55%, 0)!important; -moz-transform:translate3d(-50%, -55%, 0)!important; -webkit-transform:translate3d(-50%, -55%, 0)!important;}
.carousel-item { 
background:$darkblue;
opacity: 0;
transition:opacity 1s ease-in-out;
position: $absu; top:55%; left:50%;
-moz-transform:translate3d(-50%, -55%, 0)!important; -webkit-transform:translate3d(-50%, -55%, 0)!important;
}

.utilities-tabs{transition:opacity 2s ease-in-out;}
.carousel-item.active{ opacity:1;}
.posrel { position:$posrel}
.btn {border-radius:$zero; border-width:2px; font-size: 16px; padding:$pad10+3 $pad10*2;}
.btn-outline-primary { color:$green;border-color:$green;}
.btn-outline-primary:hover {background:$green;border-color:$green; cursor: pointer;  transition: all 1s ease; -moz-transition: all 1s ease ; -webkit-transition: all 1s ease ;}
 
.btn-outline-warning {
    color:$brown;
    background-color: transparent;
    background-image: none;
    border-color:$brown;
}
.btn-outline-warning:hover,.btn-outline-warning:focus{  color:$white;  border-color:$brown;  background:$brown;}
.btn-outline-warning{box-shadow:none!important;}
.padd100_0 { padding:$pad10*10 0;}
.padd25_0 { padding:$pad10*2+5 0;}
.title-wrap {position:$absu; top:-70px; height: 70px; width: 460px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center;  align-items: $fc;}
.map iframe { width: 100%; }
.title-no { font-size: .875rem;  color:$green;
letter-spacing: -.04em; }
.title-line-wrap { position: relative; margin: 9px 20px 0; width: 66px; height: 1px; overflow: hidden; }
.title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 100%; }
.title-line, .title-line-cover { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.title-line {
 background:$green; opacity: 1; }
.title-txt { font-size: .9375rem;  color:$green;
font-weight: 600; letter-spacing: -.04em; }
footer { .nav { display:$dp-b; text-align:$fc;
padding:$pad10*5 0;
 li {display:$dp-inl;
 a { font-family:$condensed; font-size:16px; font-weight: 700;
color:$white;
padding:0 $pad10;
	 &:hover{ color:$green;}
	 }

}
}
.allright { border-bottom: 1px solid #33436f; position: relative; margin:$pad10*5 0;
 span {
position:absolute;
top:50%;
padding:0 $pad10*2;
background:$darkblue;
left:50%;
transform:translate(-50%, -50%);
	font-weight:700;
}
}
}
.sociallink>span { float:$fl;
color:$white;
}
.sociallink {  ul { margin:$pad10*7 $zero $zero $zero;
display:$dp-b;
text-align:$fc;
 li {
display:$dp-inbl;
text-align:$fc;
 a {
color:$white;
padding:0 $pad10/2;
	&:hover{ color:$green;}
	 }
}
}
}
footer { padding:$pad10*10 0;
}
