$darkblue:#213262;
$green:#02b6a3;
$white:#fff;
$lightblue:#6779a7;
$lightblue1:#b2c9ed;
$lightblue2:#899aca;
$grey:#f2f5fa;
$brown:#ec761f;
$fl:left;
$fr:right;
$fc:center;
$dp-b:block;
$dp-inl:inline;
$dp-inbl:inline-block;
$dp-n:none;
$pad10:10px;
$posrel:relative;
$absu:absolute;
$zero:0;
$font16:16px;


$condensed:'Roboto Condensed', sans-serif;